.indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0rem;
    margin-top: 8px;
}

.indicator {
    background-color: #8F9DA3;
    height: 0.9rem;
    width: 0.8rem;
    border-radius: 100%;
    border: 1px solid #8F9DA3;
    margin: 0 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.indicator_active {
    background-color: #6FB6F8;
    height: 0.9rem;
    width: 0.8rem;
    border-radius: 100%;
    border: 1px solid #8F9DA3;
    margin: 0 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}