.container {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    padding: 23px;
    border-top: 0.5px solid #8F9DA3;
}

.calendar {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.form_label {
    display: flex;
    margin-top: 1rem;
    color: #4679C7;
}

.form {
    display: flex;
    flex-direction: column;
}

.recaptcha {
    margin-top: 1rem;
}

.btn_submit {
    margin-top: 1rem;
}