.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.carousel {
    padding: 2rem;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.dealer_meet {
    width: 100%;
}