.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 15rem;
}

.carousel {
    padding: 2rem;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.dealer_meet {
    width: 100%;
}

.page_not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


@media screen and (max-width: 920px) {
    .container {
      padding: 2rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container {
      padding: 0;
    }
  }