.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.title_page {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.soldout {
  height: 36vh;
}
