.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.featureflag {
  height: 710px;
  padding-top: 200px;
}

.announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 10%;
  padding: 2rem;
  border-radius: 10px;
}

.title_page {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.soldout {
  height: 36vh;
}

@media screen and (max-width: 600px) {
  .announcement {
    margin: 30% 0;
  }
}
