.contact_map {
    border-bottom: 1px solid #4679C7;
}

.logo_text{
    color: #4679C7;
    font-weight: 500;
}

.location_text {
    color: #000;
    margin-left: 4px;
}

.contact_text {
    font-size: 14px;
    font-weight: 100;
}

