.container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.container_scroll_snap {
    scroll-snap-align: start;
}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}