.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    overflow: hidden;
    inline-size: 100%;
    z-index: 10 !important;
}

.logo {
    margin: 0rem 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
}

.menu_2 {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
}

.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu_2 ul {
    display: flex;
    margin: 0;
    padding: 0;
}


.menu li a {
    display: block;
    padding: 1rem;
    color: rgb(0, 0, 0);
}

.menu_2 li a {
    display: block;
    padding: 1rem;
    color: #fff;
}



.menu li:hover {
    background-color: rgb(211, 211, 211);
    border-radius: 8px;
    transition: 0.3s;
}

.navigation_car {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    width: 100%;
}

.navigation_us {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    width: 100%;
}