.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    inline-size: 100%;
}

.logo {
    margin: 0.5rem 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 1rem;
    color: rgb(3, 3, 3);
}

.menu li:hover {
    background-color: rgb(213, 213, 213);
    transition: 0.3s;
}