.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.btn_container {
    display: flex;
    align-items: centers;
    gap: 2rem;
    margin-top: 4rem;
}